.loginContainer {
  max-width: 508px;
  max-height: 459px;
  width: 508px;
  height: 459px;
  background: #2D2F36;
  border-radius: 8px;
  padding: 107px 64px 99px 64px;

  .formGroup {
    margin-bottom: 28px;

    .formControl {
      background: #3F414B;
      color: #FFF;
      box-sizing: border-box;
      border-radius: 6px;
      width: 100%;
      padding: 17px 24px 18px 24px;
      border: 1px #3F414B;
      transition: color 1s;
  
      &:focus {
        border-color: #F2C94C;
        box-shadow: 0 0 0 1px #F2C94C;
        outline: 0;
      }
    }
  } 

  .submitBtn {
    margin-top: 17px;
    width: 100%;
    background: #F2C94C;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding: 17px 22px 18px 22px;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background: #3F414B;
      cursor: not-allowed;
    }
  }

  @media screen and (max-width: 425px) {
    padding: 30px;
    height: auto;
    width: 100%;
  }
}
