.listViewItem {
  font-family: Open Sans, sans-serif;
  width: 380px;
  height: 75px;
  background: #3F414B;
  border-radius: 6px;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 27px 16px 27px;
  cursor: pointer;

  &.is-selected {
    border: 1px solid #F2C94C;
    background: #3f414b00;
  }

  .img-container {
    width: 44px;
    height: 44px;
    border-radius: 20px;
    margin-right: 26px;

    img {
      width: 44px;
      height: 44px;
      border-radius: 300px;
    }
  }

  .pokemon-number {
    color: #F2C94C;
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
  }

  .pokemon-name {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    height: auto;
    width: 100%;
    padding: 15px;

    .img-container {
      margin-right: 10px;
    }
  }
}