.listViewContainer {
  font-family: Open Sans, sans-serif;
  padding: 78px 126px;
  position: relative;

  .sidebarListContainer {
    width: 508px;
    height: 100%;
    max-height: 737px;
    border-radius: 8px 0px 0px 8px;
    background: #2D2F36;
    padding: 64px 50px 75px 52px;
    position: relative;

    .sidebarList {
      height: 100%;
      max-height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .pagination {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  .detailView {
    width: 690px;
    height: 100%;
    max-height: 737px;
    background: #3B3E46;
    border-radius: 0px 8px 8px 0px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    .listViewContentContainer {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      height: 100%;

      .sidebarListContainer, .detailView {
        width: 100%;
        height: 100%;
        padding: 10px;
        max-height: 230px;
      }

      .sidebarListContainer {
        .sidebarList {
          max-height: 230px
        }
      }
    }
  }
}
