.listViewItemDetails {
  font-family: Open Sans, sans-serif;
  height: 100%;
  
  .header {
    height: 128px;
    border-bottom: 2px solid #2D2F36;
    padding: 42px;
    display: flex;
    justify-content: space-between;

    .pokemon-name, .pokemon-number {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
    }

    .pokemon-number {
      color: #F2C94C;
    }
  }

  .detail-container {
    padding: 25px;
    height: auto;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;

    .image-container {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      transition: all 1s;

      &:hover {
        transform: rotateY(180deg);
      }

      img {
        width: 250px;
        height: 250px;
        border-radius: 20px;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;

      .card {
        color: #fff;
        padding: 20px;
        background: #2D2F36;
        border-radius: 10px;
        width: 100%;

        .card-header {
          font-size: 24px;
          text-align: center;
          width: 100%;
          font-weight: 700;
          border-bottom: 1px solid #F2C94C;
          margin-bottom: 20px;
          padding: 10px 20px;
        }
  
        .card-body {
          width: 100%;
  
          .detail-min, .detail-max {
            display: flex;
            justify-content: center;
  
            > div:last-child {
              margin-left: 10px;
              color: #F2C94C;
              font-weight: 600;
            }
          }
        }

        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    height: auto;

    .header {
      padding: 0;
      height: auto;

      .pokemon-name, .pokemon-number {
        font-size: 1.5rem;
      }
    }

    .detail-container {
      padding: 0;
      margin-top: 10px;
      display: flex;

      .image-container {
        width: 100%;
        height: 100%;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .details {
        display: block;
        width: 100%;
        margin-left: 10px;

        .card {
          padding: 5px;
          margin-bottom: 5px;

          .card-header {
            padding: 0;
            font-size: 14px;
            margin-bottom: 5px;
          }
        }
      }

      .detail-min, .detail-max {
        font-size: 12px;
      }
    }
  }
}