.pagination-container {
  font-family: 'Open Sans', sans-serif;
  background: #1F1F1F;
  border-radius: 0px 0px 0px 8px;
  width: 100%;
  height: 75px;
  max-width: 508px;
  padding: 22px 19px 22px 21px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;

  .page-btn {
    background: #2D2F36;
    border-radius: 8px;
    width: 31px;
    height: 31px;
    margin-right: 12px;
    color: #fff;
    padding: 4px 10px;
    font-weight: 600;

    &:hover {
      background: #F2C94C;
    }
  }

  .page-navigate-container {
    display: flex;

    .page-btn {
      width: auto;

      &:first-child {
        margin-right: 12px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 10px;
    height: auto;
    width: 100vw;
    max-width: 100%;
    
    .page-btn {
      margin-right: 5px;
    }
  }
}